.head-container {
  height: 38rem;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 2rem;
}

.head-container .left {
  height: 36rem;
  width: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.head-container .left .title-para h2 {
  font-size: 2.25rem;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 1.25rem;
}
.head-container .left .title-para h2 :first-child {
  color: #87ceeb;
}
.head-container .left .title-para h2 :nth-child(2) {
  color: var(--primary-blue);
}
.head-container .left .title-para p {
  font-size: 0.8rem;
}
.head-container .left img {
  height: 13.5rem;
  width: 100%;
}
.head-container .right {
  height: 25rem;
  width: 26.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 70px;
}
.head-container .right .head {
  font-size: 1.1rem;
  display: flex;
  gap: 1.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: #939ca3;
  margin-bottom: 1.25rem;
}
.head-container .right .head div {
  cursor: pointer;
}
.head-container .right .buttons button {
  width: 100%;
  border: 1px solid black;
  padding-right: 2.5rem;
  padding: 0.3rem 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.head-container .right .buttons button:first-child {
  margin-bottom: 1.25rem;
}
.head-container .right .buttons button i {
  padding-right: 2rem;
  font-size: 1.1rem;
  float: left;
}
.head-container .right .line {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 1.25rem 0;
}
.head-container .right .line span {
  display: inline-block;
  height: 1.5px;
  width: 36.5%;
  background-color: #c7c9cb;
}

.head-container .right .email-section input {
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 1.25rem;
  border-radius: 8px;
  border: 1px solid black;
  padding-left: 0.6rem;
}
.head-container .right .email-section input::placeholder {
  font-size: 0.9rem;
}
.head-container .right .remember {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  font-weight: 600;
  align-items: center;
  transition: all 0.3s linear;
}
.head-container .right .remember div {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.head-container .right p {
  font-weight: 400;
  font-size: 0.75rem;
  color: #808080;
  text-align: center;
}
.head-container .right p span {
  color: #000000;
}
.head-container .right div.join {
  text-align: right;
  font-weight: 600;
  font-size: 0.7rem;
  padding-bottom: 10px;
  opacity: 0.7;
  transition: all 0.3s linear;
}
.head-container .right button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #ffffff;
  /* margin-top: 20px; */
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;
}
.head-container .right button.join {
  background-color: var(--primary-blue);
  color: #ffffff;
  transition: all 0.3s linear;
}
.head-container .mobile {
  display: none;
}
@media only screen and (max-width: 680px) {
  .head-container {
    /* min-height: 38rem; */
    height: 76.6rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .head-container .right {
    height: 25rem;
    width: 26.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0px;
  }
  .head-container .left {
    height: 20rem;
    width: 44rem;
  }
  .head-container .left img {
    display: none;
  }
  .head-container .mobile {
    display: block;
    height: 13.5rem;
    width: 100%;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 610px) {
  .head-container {
    height: 75rem;
  }
}
